body {
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn {
    height: 50px;
    width: 100px;
    margin-bottom: 100px;
    background-color: white;
    color: black;
   }
  #display {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
   
   .card {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 29%;
    border-radius: 5rem;
    border-color: black;
  }