body {
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     }
  #men {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
   
   .card {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 26%;
    border: 2px solid black;
    box-shadow: 3px 3px 10px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 2rem;
  }

.images {
  width: 90%;
  
}

